html,
body {
    padding: 0;
    margin: 0;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen, Ubuntu, Cantarell,
        "Open Sans", "Helvetica Neue", sans-serif;
}

* {
    padding: 0;
    margin: 0;
}

@mixin mobile {
    @media screen and (max-width: 480px) {
        @content;
    }
}
@mixin tablet {
    @media screen and (max-width: 768px) {
        @content;
    }
}
@mixin laptop {
    @media screen and (max-width: 1200px) {
        @content;
    }
}

// Background Colors
$main-background: #f4f4f4;
$pureWhite: #fff;
$lightGray: #dedede;
$lightGrayHover: #f0f0f0;

$navbar-left: rgb(50, 50, 50);
$navbar-right: rgb(42, 42, 42);

$button-send: rgba(35, 160, 255, 1);
$button-logout: rgb(218, 218, 218);

$userChatMessage: rgba(35, 160, 255, 0.9);
$chatInput: #fafafa;

// Font colors
$f-black: #222;

.formContainer {
    background-color: #a7bcff;
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;

    .formWrapper {
        background-color: #fff;
        padding: 20px 60px;
        border-radius: 10px;
        display: flex;
        flex-direction: column;
        gap: 10px;
        align-items: center;

        .logo {
            color: #5d5b8d;
            font-weight: bold;
            font-size: 24px;
        }

        .title {
            color: #5d5b8d;
            font-size: 12px;
        }

        form {
            display: flex;
            flex-direction: column;
            gap: 15px;

            input {
                width: 250px;
                padding: 15px;
                border: none;
                border-bottom: 1px solid #a7bcff;

                &::placeholder {
                    color: rgb(175, 175, 175);
                }
            }

            button {
                background-color: #7b96ec;
                color: #fff;
                padding: 10px;
                font-weight: bold;
                border: none;
                cursor: pointer;
            }

            label {
                display: flex;
                align-items: center;
                gap: 10px;
                color: #8da4f1;
                font-size: 12px;
                cursor: pointer;

                img {
                    width: 32px;
                }
            }
        }

        p {
            color: #5d5b8d;
            font-size: 12px;
            margin-top: 10px;
        }
    }
}

.home {
    background-color: $main-background;
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;

    .container {
        width: 70%;
        height: 85%;
        overflow: hidden;
        border-radius: 4px;
        box-shadow: 0px 0px 50px rgba(17, 17, 17, 0.5);

        display: flex;
        @include tablet {
            width: 90%;
        }

        @include mobile {
            width: 100%;
            height: 100%;
            border-radius: 0;
        }

        .sidebar {
            flex: 1;
            background-color: $pureWhite;
            position: relative;

            .navbar {
                display: flex;
                align-items: center;
                background-color: $navbar-left;
                height: 50px;
                padding: 10px;
                justify-content: space-between;
                color: $pureWhite;

                .logo {
                    font-weight: bold;
                    @include tablet {
                        display: none;
                    }
                }

                .user {
                    display: flex;
                    gap: 10px;
                    align-items: center;
                    flex-wrap: nowrap;
                    flex-shrink: 0;

                    img {
                        background-color: #ddddf7;
                        height: 24px;
                        width: 24px;
                        border-radius: 50px;
                        object-fit: cover;

                        @include mobile {
                            height: 50px;
                            width: 50px;
                        }
                    }

                    // Logout btn
                    button {
                        background-color: $button-logout;
                        color: $f-black;
                        font-size: 12px;
                        font-weight: 500;
                        border: none;
                        cursor: pointer;
                        border-radius: 4px;

                        padding: 0.6rem 1rem;

                        position: absolute;
                        bottom: 10px;
                        left: 10px;
                        transition: all 200ms;

                        &:hover {
                            transform: scale(1.05);
                        }

                        @include mobile() {
                            font-size: 10px;
                            width: 50px;
                            height: 50px;
                        }
                    }

                    span {
                        @include mobile {
                            display: none;
                        }
                    }
                }
            }

            .search {
                border-bottom: 1px solid $lightGray;

                .searchForm {
                    padding: 10px;
                    background-color: #fff;

                    input {
                        border: none;
                        color: #fff;
                        outline: none;
                        width: 100%;

                        &::placeholder {
                            color: lightgray;
                        }

                        @include mobile {
                            height: 48px;
                            width: 48px;
                            border-radius: 12px;
                            border: 1px solid #fff;

                            padding: 12px;
                            box-sizing: border-box;
                        }
                    }
                }
            }

            .userChat {
                padding: 10px;
                display: flex;
                align-items: center;
                gap: 10px;
                color: $f-black;
                cursor: pointer;
                border-bottom: 1px solid $lightGray;

                &:hover {
                    background-color: $lightGrayHover;
                }

                &.selected {
                    background-color: $lightGray;
                }

                img {
                    width: 50px;
                    height: 50px;
                    border-radius: 50%;
                    object-fit: cover;
                    background-color: #5d5b8d;
                    flex-shrink: 0;
                }

                .userChatInfo {
                    span {
                        font-size: 18px;
                        font-weight: 500;
                    }
                    p {
                        font-size: 14px;
                        font-weight: 300;
                    }

                    @include mobile {
                        display: none;
                    }
                }
            }

            @include mobile {
                flex: 0;
                width: 70px;
            }
        }
        .chat {
            flex: 4;

            .chatInfo {
                height: 50px;
                background-color: $navbar-right;
                display: flex;
                align-items: center;
                justify-content: space-between;
                padding: 10px;
                color: lightgray;

                .chatUser {
                    display: flex;
                    align-items: center;
                    gap: 12px;

                    .chatUserDisplayName {
                        color: #fff;
                        font-size: 16px;
                    }
                }

                .chatImg {
                    width: 30px;
                    height: 30px;
                    object-fit: cover;
                    border-radius: 50px;
                }
            }

            .chatIcons {
                display: flex;
                gap: 10px;

                img {
                    height: 24px;
                    cursor: pointer;
                }
            }

            .messages {
                background-color: rgba(236, 241, 245, 0.5);
                padding: 10px 20px;
                height: calc(100% - 160px);
                overflow: scroll;
                -ms-overflow-style: none; /* IE and Edge */
                scrollbar-width: none; /* Firefox */

                &::-webkit-scrollbar {
                    display: none;
                }

                .messageEmptyContainer {
                    width: 100%;
                    height: 100%;
                    display: flex;
                    justify-content: center;
                    align-items: center;

                    p {
                        font-size: 26px;
                        color: #9494a7;
                    }
                }

                .message {
                    display: flex;
                    gap: 20px;
                    margin-bottom: 20px;

                    .messageInfo {
                        display: flex;
                        flex-direction: column;
                        align-items: center;
                        color: gray;
                        font-weight: 300;

                        img {
                            width: 40px;
                            height: 40px;
                            border-radius: 50%;
                            object-fit: cover;
                        }

                        span {
                            padding: 2px;
                            font-size: 12px;
                            font-weight: 100;
                        }
                    }
                    .messageContent {
                        max-width: 60%;
                        display: flex;
                        flex-direction: column;
                        gap: 10px;

                        p {
                            background-color: $userChatMessage;
                            padding: 10px 20px;
                            border-radius: 2px 8px 8px 8px;
                            max-width: max-content;
                            color: $pureWhite;
                        }
                        img {
                            width: 50%;
                        }
                    }

                    &.owner {
                        flex-direction: row-reverse;

                        .messageContent {
                            align-items: flex-end;
                        }

                        p {
                            background-color: $pureWhite;
                            color: $f-black;
                            border-radius: 8px 2px 8px 8px;
                        }
                    }
                }
            }

            .input {
                height: 50px;
                background-color: $chatInput;
                padding: 10px;
                display: flex;
                align-items: center;
                justify-content: flex-start;
                box-shadow: 0px 10px 30px rgba(34, 34, 34, 0.3);

                input {
                    height: 100%;
                    flex: 2;
                    border: none;
                    outline: none;
                    color: #2f2d52;
                    background-color: $chatInput;
                    font-size: 18px;
                    padding-left: 5px;

                    &::placeholder {
                        color: lightgray;
                    }
                }

                .send {
                    display: flex;
                    align-items: center;
                    gap: 10px;
                    flex: 1;
                    justify-content: flex-end;

                    img {
                        height: 24px;
                        cursor: pointer;

                        @include tablet {
                            display: none;
                        }
                    }

                    button {
                        border: none;
                        border-radius: 4px;
                        padding: 10px 15px;
                        color: #fff;
                        background-color: $button-send;
                        cursor: pointer;
                        flex-shrink: 0;

                        transition: all 200ms;

                        &:hover {
                            transform: scale(1.05);
                        }
                    }
                }
            }
        }
    }
}
